In [1]:
import pandas as pd

In [2]:
pd.Series([5,10,15,20])

0     5
1    10
2    15
3    20
dtype: int64

In [3]:
pd.Series([5,10,15,20], index=["a","b","c","d"])

a     5
b    10
c    15
d    20
dtype: int64

In [5]:
series = pd.Series({"a":5, "b":10, "c":15, "d":20})

In [6]:
series[3]

20

In [7]:
series[0:2]

a     5
b    10
dtype: int64

In [8]:
series["b"]

10

In [9]:
series[["a", "b"]]

a     5
b    10
dtype: int64

In [10]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=["a", "b", "c"])

   0  1  2
a  1  2  3
b  4  5  6
c  7  8  9

In [12]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index=["a", "b", "c"], columns=["c1", "c2", "c3"])

   c1  c2  c3
a   1   2   3
b   4   5   6
c   7   8   9

In [15]:
df = pd.DataFrame({"c1":[1,4,7], "c2":[2,5,8], "c3":[3,6,9]}, index=["a", "b", "c"])

In [16]:
df.shape

(3, 3)

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df["c2"]

a    2
b    5
c    8
Name: c2, dtype: int64

In [19]:
type(df["c2"])

pandas.core.series.Series