In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[3,4,5], [8,9,10], [13,14,15], [18,19,20]], index=["a", "b", "c", "d"], columns=["c1", "c2", "c3"])

In [3]:
df

   c1  c2  c3
a   3   4   5
b   8   9  10
c  13  14  15
d  18  19  20

In [4]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.index.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [6]:
type(df.index.values)

numpy.ndarray

In [7]:
df.index.tolist()

['a', 'b', 'c', 'd']

In [8]:
df.index.size

4

In [9]:
df.index.is_integer()

False

In [10]:
df.index.is_object()

True

In [11]:
df.index.is_unique

True

In [12]:
df

   c1  c2  c3
a   3   4   5
b   8   9  10
c  13  14  15
d  18  19  20

In [14]:
df.index.sort_values(ascending=False)

Index(['d', 'c', 'b', 'a'], dtype='object')

In [17]:
df.reset_index(inplace=True)

In [18]:
df

  index  c1  c2  c3
0     a   3   4   5
1     b   8   9  10
2     c  13  14  15
3     d  18  19  20

In [19]:
df.set_index("index", inplace=True)

In [20]:
df

       c1  c2  c3
index
a       3   4   5
b       8   9  10
c      13  14  15
d      18  19  20

In [21]:
df.index.rename("indici", inplace=True)

In [22]:
df

        c1  c2  c3
indici
a        3   4   5
b        8   9  10
c       13  14  15
d       18  19  20

In [23]:
df.reset_index(drop=True, inplace=True)

In [24]:
df

   c1  c2  c3
0   3   4   5
1   8   9  10
2  13  14  15
3  18  19  20

In [25]:
df.set_index(pd.Series(["a", "b", "c", "d"]), inplace=True)

In [26]:
df

   c1  c2  c3
a   3   4   5
b   8   9  10
c  13  14  15
d  18  19  20