In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df = pd.Series(["1/1/2015", np.datetime64("2015-01-02"), datetime(2015, 1, 3)])
df

0               1/1/2015
1             2015-01-02
2    2015-01-03 00:00:00
dtype: object

In [3]:
df = pd.to_datetime(df)
df

0   2015-01-01
1   2015-01-02
2   2015-01-03
dtype: datetime64[ns]

In [4]:
df1 = pd.date_range("2015-01-01", periods=5, freq='D')
df1

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [5]:
pd.Series([1, 2, 3, 4, 5], index=df1)

2015-01-01    1
2015-01-02    2
2015-01-03    3
2015-01-04    4
2015-01-05    5
Freq: D, dtype: int64

In [6]:
pd.date_range("2016-02-25", periods=10, freq='D')

DatetimeIndex(['2016-02-25', '2016-02-26', '2016-02-27', '2016-02-28',
               '2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
               '2016-03-04', '2016-03-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
dfH = pd.date_range("2015-01-01", periods=20, freq='H')
dfH

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 01:00:00',
               '2015-01-01 02:00:00', '2015-01-01 03:00:00',
               '2015-01-01 04:00:00', '2015-01-01 05:00:00',
               '2015-01-01 06:00:00', '2015-01-01 07:00:00',
               '2015-01-01 08:00:00', '2015-01-01 09:00:00',
               '2015-01-01 10:00:00', '2015-01-01 11:00:00',
               '2015-01-01 12:00:00', '2015-01-01 13:00:00',
               '2015-01-01 14:00:00', '2015-01-01 15:00:00',
               '2015-01-01 16:00:00', '2015-01-01 17:00:00',
               '2015-01-01 18:00:00', '2015-01-01 19:00:00'],
              dtype='datetime64[ns]', freq='H')

In [8]:
dfH = dfH.tz_localize('UTC')
dfH

DatetimeIndex(['2015-01-01 00:00:00+00:00', '2015-01-01 01:00:00+00:00',
               '2015-01-01 02:00:00+00:00', '2015-01-01 03:00:00+00:00',
               '2015-01-01 04:00:00+00:00', '2015-01-01 05:00:00+00:00',
               '2015-01-01 06:00:00+00:00', '2015-01-01 07:00:00+00:00',
               '2015-01-01 08:00:00+00:00', '2015-01-01 09:00:00+00:00',
               '2015-01-01 10:00:00+00:00', '2015-01-01 11:00:00+00:00',
               '2015-01-01 12:00:00+00:00', '2015-01-01 13:00:00+00:00',
               '2015-01-01 14:00:00+00:00', '2015-01-01 15:00:00+00:00',
               '2015-01-01 16:00:00+00:00', '2015-01-01 17:00:00+00:00',
               '2015-01-01 18:00:00+00:00', '2015-01-01 19:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [9]:
dfH.tz_convert('US/Pacific')

DatetimeIndex(['2014-12-31 16:00:00-08:00', '2014-12-31 17:00:00-08:00',
               '2014-12-31 18:00:00-08:00', '2014-12-31 19:00:00-08:00',
               '2014-12-31 20:00:00-08:00', '2014-12-31 21:00:00-08:00',
               '2014-12-31 22:00:00-08:00', '2014-12-31 23:00:00-08:00',
               '2015-01-01 00:00:00-08:00', '2015-01-01 01:00:00-08:00',
               '2015-01-01 02:00:00-08:00', '2015-01-01 03:00:00-08:00',
               '2015-01-01 04:00:00-08:00', '2015-01-01 05:00:00-08:00',
               '2015-01-01 06:00:00-08:00', '2015-01-01 07:00:00-08:00',
               '2015-01-01 08:00:00-08:00', '2015-01-01 09:00:00-08:00',
               '2015-01-01 10:00:00-08:00', '2015-01-01 11:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

In [10]:
pd.Timestamp('2015-01-02').day_name()

'Friday'

In [11]:
(pd.Timestamp('2015-01-02') + pd.Timedelta('1 day')).day_name()

'Saturday'

In [12]:
(pd.Timestamp('2015-01-02') + pd.offsets.BDay()).day_name()

'Monday'